body {
    display: flex;
    height: 100%;
    margin: 0 auto;


}

section {
    width: 600px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    height: auto;
    border: 1px solid grey;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(to bottom, grey, rgb(207, 207, 207), rgb(235, 235, 235));
    box-shadow: 0px 1px 1px  rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: row;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.container2 {
    display: flex;

}


.ball {
    display: flex;

    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
}
.nome{
    font-size: larger;
    font-weight: 500;
}
.data {
    margin: 2px;
    color: white;
    font-size: 12px;
    font-weight: 100;
}

.meatball-menu {
    margin: 10px;
    display: flex;
    align-items: center;


}

.circle {
    display: flex;
    justify-content: flex-end;
    width: 5px;
    height: 5px;
    margin: 3px;
    background: rgb(0, 0, 0);
    border-radius: 50%;

}
.nome{
    font-size: larger;
    font-weight: 500;
}

.catphotos {
    width: 100%;

}

.responsive {
    min-width: 100%;
    min-height: 100%;
}

.descrizionecard {
    margin-left: 10px;
    margin-bottom: 20px;
}

.icons {
    margin-left: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    body {
        flex-wrap: wrap;

    }
}

@media screen and (max-width: 375px) {
    body {
        flex-wrap: wrap;
        justify-content: center;
    }
}